*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    
}

.nav-left{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.nav-right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.google-img{
    width: 35%;
}

.search-box{
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 10px;
}

.search-box input{
    border: none;
    width: 90%;

}

button{
    font-size: 1.1em;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 16px;
}


footer{
    height: 100px;
    width: 100%;
    background-color: lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer p {
    text-align: center;
}

.footer-links{
    display: flex;
    justify-content: space-between;

}

.links-left, .links-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.links-left a {
    margin-left: 0 20px;
    
}